.ui.cards{
  width:100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  margin: auto;
}

.image {
  align-self: center;
}

.ui.card{
  word-wrap: break-word;
  width: 20%;
  height: 30%;
  margin: 1rem;
}
